@model List<TaskManagerMVC.Models.TaskItem>

<div class="d-flex align-items-center">
<h2 class="me-3">Task List</h2>
<a href="/task/create">Create Task</a>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
    </tr>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Id</td>
            <td>
                <a href="/task/@task.Id">@task.Title</a>
            </td>
            <td>@(task.IsCompleted ? "✅ Completed" : "❌ Not Completed")</td>
        </tr>
    }
</table>
