@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Task Manager</h1>
    <p>Manage your tasks with ease</p>

    <div class="row">
        <div class="col-md-6">
            <a href="/Task">View Tasks</a>
        </div>
        <div class="col-md-6">
            <a href="/Task/Create">Create Task</a>
        </div>
</div>
